.t_one {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.t_two {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.p_one {
    font-size: 18px;
}

.p_two {
    font-size: 16px;
}


.image_bg {
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.sec_py {
    padding: 60px 0px;
}

.pt_medium {
    padding-top: 50px;
}

.pt_big {
    padding-top: 100px;
}

.sec_mt-100 {
    margin-top: 100px;
}

.sticky_img {
    position: sticky;
    right: 0px;
    top: 148px;
    width: 100%;
    z-index: -1;
}

.fw-900 {
    font-weight: 900 !important;
}


/* card1 start */

/* card1 start */

/* color */
.text_green {
    color: #00FF66 !important;
}

.text_orange {
    color: #FF6700 !important;
}

.text_yellow {
    color: #FFBC00 !important;
}

.text_purple {
    color: #6600CC !important;
}

.text_pink {
    color: #FF0099 !important;
}

.text_black {
    color: #333333 !important;
}

.text_blue {
    color: #0066FF !important;
}

.bg_green{
    background-color: #00FF66 !important;
}

.bg_orange{
    background-color: #FF6700 !important;
}

.bg_yellow{
    background-color: #FFBC00 !important;
}

.bg_pink{
    background-color: #FF0099 !important;
}

/* color */

/* button area start */
.btn_pink {
    background-color: #FF0099;
    padding: 10px 80px;
    border: 0;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.btn_hover1:hover {
    outline: 2px solid #fff;
    outline-offset: -2px;
}

.btn_hover2:hover {
    background-color: #6600CC;
}

.btn_purple {
    background-color: #6600CC;
    padding: 10px 80px;
    border: 0;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s;
    width: fit-content;
}

/* button area end*/


/* input style */
.input_style_one {
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    font-size: 14px;
}

.input_style_one::placeholder {
    font-size: 14px;
    color: #AAAAAA;
}

/* input style */


/* pagination start */
._pagination li {
    display: inline;
    cursor: pointer;
    font: normal normal bold 15px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    margin-right: 20px;
}

/* pagination end */





/* contact one area start */
.contact_one {
    background: #EDEDED 0% 0% no-repeat padding-box;
    border-radius: 26px;
    padding: 40px;
}

/* contact one area end */



/* responsive start c_container */

@media only screen and (min-width: 1550px) {
    .c_container {
        width: 1450px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
    .c_container {
        width: 1320px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .c_container {
        width: 1140px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .c_container {
        width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .c_container {
        width: 720px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .c_container {
        width: 520px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .c_container {
        width: 90%;
        margin: 0 auto;
    }
}


/* responsive end */