.t_one {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.p_one {
    font-size: 18px;
}


.image_bg {
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.sec_py {
    padding: 60px 0px;
}

.sec_mt-100 {
    margin-top: 100px;
}

.sticky_img {
    position: sticky;
    right: 0px;
    top: 148px;
    width: 100%;
    z-index: -1;
}


/* card1 start */

/* card1 start */

/* color */
.text_green {
    color: #00FF66 !important;
}

.text_purple {
    color: #6600CC !important;
}

.text_pink {
    color: #FF0099 !important;
}

/* color */

/* button area start */
.btn_pink {
    background-color: #FF0099;
    padding: 10px 80px;
    border: 0;
    color: #fff;
    border-radius: 20px;
    transition: all 0.1s;
}

.btn_hover1:hover {
    outline: 2px solid #fff;
    outline-offset: -2px;
}

/* button area end*/






/* responsive start c_container */

@media only screen and (min-width: 1550px) {
    .c_container {
        width: 1450px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
    .c_container {
        width: 1320px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .c_container {
        width: 1140px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .c_container {
        width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .c_container {
        width: 720px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .c_container {
        width: 520px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .c_container {
        width: 90%;
        margin: 0 auto;
    }
}


/* responsive end */