@media only screen and (min-width: 1449px) {
    .menu_layout {
        grid-template-columns: 180px 11fr 1fr;
    }

    .menu_ul li {
        margin-right: 30px;
    }

    .menu_ul li a {
        font-size: 16px;
    }

    /* home page start */
    .t_one {
        font-size: 70px;
    }

    .p_one {
        font-size: 25px;
    }

    .image_bg {
        min-height: 800px;
    }

    .h_s_f_subDesc{
        font-size: 28px;
    }

    .home_sec_five_table td{
        font-size: 25px;
    }

    /* home page end */

    .kc_ul li::before {
        font-size: 125px;
        line-height: 103px;
    }
}

@media only screen and (max-width: 1450px) {
    .menu_layout {
        grid-template-columns: 160px 11fr 1fr;
    }

    .menu_ul li {
        margin-right: 15px;
    }

    .menu_ul li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1250px) {
    .menu_ul li a {
        font-size: 13px;
    }

    .menu_btn_main {
        gap: 10px;
    }

    .menu_btn_main_button {
        font-size: 13px;
        padding: 3px 10px;
    }

    .menu_layout {
        grid-template-columns: 115px 11fr 1fr;
    }

    .menu_layout {
        width: 95%;
    }

    header {
        height: 70px;
    }
}

@media only screen and (max-width: 1200px) {

    /* footer area start */
    .foot_title {
        font-size: 20px;
    }

    .foot_follow_us {
        gap: 15px;
    }

    .foot_social {
        gap: 10px;
    }

    .foot_social img {
        width: 25px;
    }

    .subscribe_button {
        font-size: 16px;
    }

    /* footer area end */

    .home_sec_one_title {
        font-size: 60px;
    }
}

@media only screen and (max-width: 991px) {

    .menu_ul {
        width: 100%;
        position: absolute;
        background-color: #000;
        width: 100%;
        left: 0;
        top: 70px;
    }

    .menu_ul li {
        display: block;
    }

    .menu_ul {
        padding-top: 15px;
    }

    .menu_ul li {
        margin-bottom: 15px;
        padding-left: 20px;
    }

    /* humberger start */
    .humberger {
        display: block;
        width: 25px;
        position: relative;
        z-index: 13;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    .line1 {
        transition: all 0.3s;
    }

    .line3 {
        transition: all 0.3s;
    }

    .line2 {
        margin: 5px 0px;
    }

    .active_hum {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .active_hum .line1 {
        position: relative;
        bottom: -8px;
        transform: rotate(45deg);
    }

    .active_hum .line2 {
        visibility: hidden;
    }

    .active_hum .line3 {
        position: relative;
        top: -8px;
        transform: rotate(-45deg);
    }

    .inactive_hum .line1 {
        position: relative;
        bottom: 0px;
        transform: rotate(0deg);
    }

    .inactive_hum .line2 {
        visibility: visible;
    }

    .inactive_hum .line3 {
        position: relative;
        top: 0px;
        transform: rotate(0deg);
    }

    /* humberger end */
}

@media only screen and (max-width: 992px) {

    /* common area start */
    .t_one {
        font-size: 30px;
    }

    .p_one {
        font-size: 15px;
    }

    .btn_pink {
        font-size: 14px;
        padding: 5px 40px;
    }

    .image_bg {
        min-height: 500px;
    }

    /* common area end */
    /* footer area start */
    .foot_title {
        font-size: 20px;
    }

    .foot_social img {
        width: 25px;
    }

    .subscribe_button {
        font-size: 15px;
    }

    /* footer area end */

    .NewsCard_main {
        bottom: 40px;
    }

    .home_sec_one_title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {

    /* common area start */
    .t_one {
        font-size: 22px;
    }

    .p_one {
        font-size: 15px;
    }

    .subscribe_button {
        font-size: 12px;
        padding: 3px 25px;
    }

    .image_bg {
        min-height: 400px;
    }


    /* common area end */

    /* home page start */
    .home_sec_two {
        background-position: initial;
    }

    .h_s_t_img {
        height: 250px;
    }

    .h_s_three_child{
        padding: 40px 0px;
    }

    .h_s_f_subDesc {
        font-size: 15px;
    }

    .home_sec_five_table td{
        font-size: 12px;
    }

    .home_sec_five_table td:nth-of-type(2) {
        padding-left: 10px;
    }

    .home_sec_six_child1{
        padding-top: 40px;
    }

    .google_homescreen {
        width: 100px;
        position: fixed;
        right: 2%;
        top: 70px;
    }


    .NewsCard_main {
        width: 80%;
        position: relative;
        left: initial;
        margin: 0 auto;
        transform: initial;
        margin-top: 40px;
        bottom: 0px;
    }

    .newsBtn {
        height: 25px;
    }

    .home_sec_one_title {
        font-size: 41px;
        text-align: center;
    }

    .home_sec_second_grid img {
        width: 100%;
        height: 35px;
    }

    .home_sec_second_grid{
        width: 98%;
    }
    /* home page end */

    .kc_ul li::before {
        counter-increment: my-sec-counter;
        content: counter(my-sec-counter);
        margin-right: 18px;
        font-size: 45px;
        line-height: 33px;
        font-weight: 900;
        color: #6600CC;
    }

    .kc_card_one{
        grid-template-columns: 1fr;
    }

    .kc_card_one div:nth-of-type(1){
        padding: 25px 0px;
    }
}

@media only screen and (max-width: 600px) {

    .image_bg {
        min-height: 365px;
    }

    .sec_py{
        padding: 40px 0px;
    }

    /* footer area start */
    .foot_title {
        font-size: 18px;
    }

    .foot_ul a {
        font-size: 15px;
    }

    .foot_ul li {
        margin-bottom: 10px;
    }

    .foot_horizontal_line {
        margin: 15px 0px;
    }

    .foot_social img {
        width: 25px;
    }

    .subscribe_button {
        font-size: 14px;
        padding: 5px;
    }

    /* footer area end */


    /* home page area start */
    .h_s_t_img {
        height: 150px;
    }

    .home_sec_three {
        grid-template-columns: 1fr;
    }

    .home_sec_six {
        grid-template-columns: 1fr;
    }

    .home_sec_six_child1{
        display: none;
    }

    .home_sec_six_child2{
        width: 90%;
    }

    .google_homescreen {
        width: 48px;
        right: 2%;
        top: 70px;
    }

    .home_sec_second_grid {
        width: 98%;
        grid-template-columns: 1fr;
    }

    .home_sec_second_grid>div {
        border-right: 0px solid;
        border-bottom: 1px solid;
        padding: 15px 0px;
    }

    /* home page area end */
}