@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333333;
}

p {
    color: #333333;
}


/* header area start */
/* ------------------------------------------------------------------ */
header {
    height: 100px;
    background-color: grey;
    display: flex;
    background: transparent linear-gradient(180deg, #0000009c 0%, #00000000 78%, #00000000 100%) 0% 0% no-repeat padding-box;
    /* opacity: 0.4; */
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.menu_layout {
    display: grid;
    grid-template-columns: 200px 11fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.menu_layout div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_layout div:nth-of-type(3) {
    display: flex;
    align-items: center;
}


.logo {
    height: 54px;
    object-fit: contain;
    width: 100%;
    cursor: pointer;
}

.menu_ul li {
    display: inline-flex;
    margin-right: 20px;
}

.menu_ul li:last-child {
    margin-right: 0px;
}

.menu_ul a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.menu_btn_main {
    display: flex;
    gap: 20px;
}

.menu_btn_main_button {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    width: max-content;
    color: #fff;
}

.menu_drop a {
    color: #000 !important;
    font-weight: 500 !important;
}

.menu_drop {
    padding: 10px 0px !important;
    width: 200px;
}

.menu_drop li {
    margin-bottom: 5px;
    margin-right: 0px !important;
    display: block;
    padding: 0px 20px;
}

.menu_drop li:hover {
    background-color: #80808036;
}

/* ------------------------------------------------------------------ */
/* header area end */


/* footer area start */
/* ------------------------------------------------------------------- */
footer {
    background-color: #EDEDED;
}

.foot_top {
    padding: 40px 0px;
}

.foot_title {
    color: #3333336e;
    font-size: 22px;
    font-style: italic;
}

.foot_horizontal_line {
    border-bottom: 1px solid #3333336e;
    margin: 20px 0px;
}

.foot_ul li {
    margin-bottom: 15px;
}

.foot_ul a {
    font-size: 20px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}

.foot_follow_us {
    display: flex;
    gap: 25px;
    margin-top: 60px;
}

.foot_social {
    display: flex;
    gap: 20px;
}

.subscribe_button {
    background: #FF0099;
    border-radius: 21px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


.subscribe_button:hover {
    color: #fff;
}

.foot_copyright_text {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    display: block;
    color: #333333;
}

/* ------------------------------------------------------------------- */
/* footer arae end */


/* home page area start */
/* =========================================================== */


.google_homescreen {
    width: 150px;
    position: fixed;
    right: 2%;
    z-index: 1;
    top: 100px;
}

/* home_sec_one start */
.home_sec_first {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(180deg, #00000000 0%, #000000 100%);
}

.home_sec_second {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
}

.home_sec_one_title {
    font-size: 75px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.home_sec_one {
    position: relative;
    min-height: 200vh;

}

.home_sec_one video {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
}

.home_sec_second_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 0 auto;
}

.home_sec_second_grid p{
    margin: 0;
}

.home_sec_second_grid img {
    width: 100%;
    height: 65px;
}

.home_sec_second_grid div {
    border-right: 1px solid rgba(255, 255, 255, 0.377);
}

.home_sec_second_grid div:last-child {
    border-right: 0px solid rgba(255, 255, 255, 0.377);
}


/* home_sec_one end */

/* home_sec_two start */
.home_sec_two {
    background-image: url(../images/homePage/power_open_bg.png);
}

/* home_sec_two end */

/* home_sec_three start */
.home_sec_three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.h_s_three_child {
    background: radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #FFFFFF 18%, #CCCCCC 100%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
    transition: all 0.5s;
}

.h_s_three_child:hover h1 {
    color: #fff;
}

.h_s_three_child:hover p {
    color: #fff;
}

.h_s_three_child:hover button {
    background-color: #333333;
}


.h_s_three_child1:hover {
    background: radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #FFFFFF 12%, #FFC3E7 31%, #FF69C3 65%, #FF43B4 87%, #FF0099 100%);
}

.h_s_three_child2:hover {
    background: radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #EAF2FF 22%, #0066FF 100%);
}

.h_s_t_img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* home_sec_three end */

/* home_sec_four start */
.home_sec_four {
    background-image: url(../images/homePage/importance-of-keyword-bg.png);
}

.h_s_f_subDesc {
    font-size: 22px;
}

/* home_sec_four end */

/* home_sec_five start */
.home_sec_five {
    position: relative;
}

.home_sec_five video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
}

.home_sec_five_table td {
    font-size: 18px;
}

.home_sec_five_table td:nth-of-type(2) {
    padding-left: 20px;
}

/* home_sec_five end */

/*home_sec_six start*/
.home_sec_six {
    background: #EBEBEB;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home_sec_six_child1 {
    background-image: url(../images/homePage/account-team.png);
    margin-top: 69px;
    position: relative;
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.home_sec_six_child2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
}

/*home_sec_six end*/

/*home_sec_seven start*/
.home_sec_seven {
    background-color: #fff;
}

/*home_sec_seven end*/

/*home_sec_eight start*/
.home_sec_eight {
    background-image: url(../images/homePage/news-bg-home.png);
    position: relative;
}

.NewsCard_main {
    width: 68%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

.NewsCard_main .alice-carousel__stage-item * {
    width: 90%;
    margin: 0 auto;
}

.news_img {
    width: 100% !important;
}

.newsBtn {
    height: 40px;
    position: absolute;
    top: 42%;
    cursor: pointer;
}

.newsPrev {
    left: -10%;
}

.newsNext {
    right: -10%;
}


/*home_sec_eight end*/

/* =========================================================== */
/* home page area end */